body{
    background-image: url(images/ABC.jpeg) ;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;

}

#chapterOne{
    margin-top: -10px;
    text-align: center;
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#abcChapterOne{   
background-color:rgb(239, 240, 245);
padding: 50px;
border-radius: 25px;
margin-block-start: 5%;
margin-inline-start: 25%;
inline-size: 1200px;
block-size: 720px;
font-size: x-large;

}

#bottomButtons{
    display: flex;
    gap: 250px;    
}

#lowerButton{
    width: 180px;
    padding: 5px;
    color: white;
    font-size: 20px;
    background-color:brown ;
    border: none;
    border-radius: 10px;
    
}
#lowerButton:hover{
    color: rgb(3, 23, 18);
    background-color: rgb(197, 66, 66);
    
}

#upperButton:hover{
    color: rgb(3, 23, 18);
    background-color: rgb(197, 66, 66);
    
}

#topButtons{
    display: flex;
    gap: 250px;    
}

#upperButton{
    width: 180px;
    padding: 5px;
    color: white;
    font-size: 17px;
    background-color:brown ;
    border: none;
    border-radius: 10px;
    margin-bottom: 35px;
    
}
audio{
    margin-left: 37%;
    margin-top: 3%;
}
@media screen and (min-width: 280px) and (max-width: 480px){
    body{
        background-image: url(images/ABC.jpeg) ;
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        margin-left: -100px;
        width:100%;
        height: 100%;
        font-size: 2rem;
    
    }
    
    #chapterOne{
        margin-top: -10px;
        text-align: center;
        color: brown;
        font-size: smaller;
        display: block;
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #abcChapterOne{   
    background-color:rgb(239, 240, 245);
    padding: 50px;
    border-radius: 25px;
    margin-block-start: 0%;
    margin-inline-start: 25%;
    inline-size: 700px;
    block-size: 520px;
    font-size: small;
    width: 75%;
    
    }
    
    #bottomButtons{
        display: block;
        gap: 250px; 
        width: 100%;   
    }
    
    #lowerButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 20px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        width: 100%;
        
    }
    #lowerButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #upperButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #topButtons{
        display: block;
        gap: 250px; 
        width: 40px;  
        width: 100%; 
    }
    
    #upperButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 17px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        margin-bottom: 35px;
        
    }
    audio{
        margin-left: 0%;
        margin-top: 3%;
    }
}
@media screen and (min-width: 481px) and (max-width: 680px){
    body{
        background-image: url(images/ABC.jpeg) ;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
        width:100%;
        font-size: 2rem;
        margin-left: -100px;
    
    }
    
    #chapterOne{
        margin-top: 10px;
        color: brown;
        font-size: smaller;
        display: block;
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #abcChapterOne{   
    background-color:rgb(239, 240, 245);
    padding: 0px;
    border-radius: 25px;
    margin-block-start: 5%;
    margin-inline-start: 25%;
    inline-size: 800px;
    block-size: 520px;
    font-size: small;
    width: 85%;
    
    }
    
    #bottomButtons{
        display: block;
        gap: 250px; 
        width: 100%;   
    }
    
    #lowerButton{
        width: 180px;
        padding: 0px;
        color: white;
        font-size: 20px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        
    }
    #lowerButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #upperButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #topButtons{
        display: flex;
        gap: 5%; 
        width: 40px;
        margin-left: 30px;  
        width: 60%; 
    }
    
    #upperButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 17px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        margin-bottom: 0px;
        
    }
    audio{
        margin-left: 0%;
        margin-top: 3%;
    }
}
@media screen and (min-width: 681px) and (max-width: 880px){
    body{
        background-image: url(images/ABC.jpeg) ;
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        margin-left: -100px;
        width:100%;
        font-size: large;
        margin-left: -150px;
    
    }
    
    #chapterOne{
        margin-top: -10px;
        text-align: center;
        color: brown;
        font-size: smaller;
        display: block;
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #abcChapterOne{   
    background-color:rgb(239, 240, 245);
    padding: 50px;
    border-radius: 25px;
    margin-block-start: 5%;
    margin-inline-start: 25%;
    inline-size: 700px;
    block-size: 520px;
    font-size:large;
    width: 75%;
    height: 100%;
    
    }
    
    #bottomButtons{
        display: block;
        gap: 250px; 
        width: 100%;   
    }
    
    #lowerButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 20px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        width: 100%;
        
    }
    #lowerButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #upperButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #topButtons{
        display: flex;
        gap: 25%; 
        width: 40px;  
        width: 100%; 
    }
    
    #upperButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 17px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        margin-bottom: 35px;
        
    }
    audio{
        margin-left: 7%;
        margin-top: 3%;
    }
}
@media screen and (min-width: 881px) and (max-width: 1080px){
    body{
        background-image: url(images/ABC.jpeg) ;
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        margin-left: -100px;
        width:100%;
        height: 100%;
        font-size: 2rem;
        margin-left: -150px;
    
    }
    
    #chapterOne{
        margin-top: -10px;
        text-align: center;
        color: brown;
        font-size: smaller;
        display: block;
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #abcChapterOne{   
    background-color:rgb(239, 240, 245);
    padding: 50px;
    border-radius: 25px;
    margin-block-start: 5%;
    margin-inline-start: 25%;
    inline-size: 700px;
    block-size: 720px;
    font-size: large;
    width: 75%;
    height: 100%;
    }
    
    #bottomButtons{
        display: block;
        gap: 250px; 
        width: 100%;   
    }
    
    #lowerButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 20px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        width: 100%;
        
    }
    #lowerButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #upperButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #topButtons{
        display: flex;
        gap: 250px; 
        width: 40px;  
        width: 100%; 
        font-size: large;
    }
    
    #upperButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 17px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        margin-bottom: 35px;
        
    }
    audio{
        margin-left: 7%;
        margin-top: 3%;
    }
}
@media screen and (min-width: 1081px) and (max-width: 1500px){
    body{
        background-image: url(images/ABC.jpeg) ;
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        margin-left: -100px;
        width:100%;
        font-size: 2rem;
        margin-left: -200px;
    
    }
    
    #chapterOne{
        margin-top: -10px;
        text-align: center;
        color: brown;
        font-size: smaller;
        display: block;
        width: 100%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #abcChapterOne{   
    background-color:rgb(239, 240, 245);
    padding: 50px;
    border-radius: 25px;
    margin-block-start: 5%;
    margin-inline-start: 25%;
    inline-size: 700px;
    block-size: 520px;
    font-size: large;
    width: 75%;
    
    }
    
    #bottomButtons{
        display: block;
        gap: 250px; 
        width: 100%;   
    }
    
    #lowerButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 20px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        width: 100%;
        
    }
    #lowerButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #upperButton:hover{
        color: rgb(3, 23, 18);
        background-color: rgb(197, 66, 66);
        
    }
    
    #topButtons{
        display: flex;
        gap: 250px; 
        width: 40px;  
        width: 100%; 
    }
    
    #upperButton{
        width: 180px;
        padding: 5px;
        color: white;
        font-size: 17px;
        background-color:brown ;
        border: none;
        border-radius: 10px;
        margin-bottom: 35px;
        
    }
    audio{
        margin-left: 7%;
        margin-top: 3%;
    }
}