section{
    border: 1px solid;
    width: 1600px;
    font-size: 30px;
    height: 460px;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin: auto;
    margin-top: 15%;
    padding-left: 35px;
    padding-right: 35px;
    

}
body{
    background-image: url(images/sleepingbeauty.jpeg.jpeg);
    background-size: cover;
}

#navigating-buttons{
    display: flex;
    gap: 70%;
    margin-left: 9%;
}
h1{
    text-align: center;
    color: rgb(255,120,201) ;
}
#back-button{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255,120,201);
    border: none;
    color: white;
}
#back-button:hover{
    background-color:  rgb(11,9,57);
}
#start-button{
    width: 170px;
    padding: 15px;
     border-radius: 10px;
     border: none;
     background-color: rgb(255,120,201);
     color: white;
}
#start-button:hover{
    background-color:  rgb(11,9,57);
}
@media screen  and (min-width: 280px) and (max-width:480px){
    section{
        border: 1px solid;
        width: 100%;
        font-size: x-large;
        height: 700px;
        background-color: white;
        border: none;
        border-radius: 15px;
        margin: auto;
        margin-top: 15%;
        padding-left: 0px;
        padding-right: 0px;
        
    
    }
    body{
        background-image: url(images/sleepingbeauty.jpeg.jpeg);
        background-size: cover;
        height: 100%;
    }
    
    #navigating-buttons{
        display: flex;
        gap: 70%;
        margin-left: 0%;
    }
    h1{
        text-align: center;
        color: rgb(255,120,201) ;
    }
    #back-button{
        width: 150px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(255,120,201);
        border: none;
        color: white;
    }
    #back-button:hover{
        background-color:  rgb(11,9,57);
    }
    #start-button{
        width: 170px;
        padding: 15px;
         border-radius: 10px;
         border: none;
         background-color: rgb(255,120,201);
         color: white;
    }
    #start-button:hover{
        background-color:  rgb(11,9,57);
    }  
}